{% extends "base.html" %}

{% block content %}

<hr class="invis">

<h1>Creating a post</h1>
<br/>

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.title.label(class="form-label") }}
    {{ form.title(class="form-control") }}
    <br/>
    {{ form.content.label(class="form-label") }}
    {{ form.content(class="form-control", rows="10") }}
    <br/>
    {{ form.slug.label(class="form-label") }}
    {{ form.slug(class="form-control") }}
    <br/>
    {{ form.tags.label(class="form-label") }}
    {{ form.tags(class="form-control") }}
    <br/>
    {{ form.submit(class="btn btn-success", value="Save") }}

    <button type="button" class="btn btn-warning">
        Preview <i class="fa fa-desktop"></i>
    </button>

</form>
{{ ckeditor.load() }}
{{ ckeditor.config(name='content') }}
{{ ckeditor.load_code_theme() }}


{% endblock %}