<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
    <title>JunGuide</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="static/images/fav.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">

    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="static/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="static/css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="static/css/colors.css" rel="stylesheet">

    <!-- Version Tech CSS for this template -->
    <link href="static/css/version/tech.css" rel="stylesheet">

</head>

<body>
<div id="wrapper">
    {% include 'navbar.html' %}

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% block content %}
                    <hr class="invis">
                    <h1 align="center">ADMIN PAGE</h1>
                    <hr class="invis">

                    {% for msg in get_flashed_messages() %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{msg}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}

                    <h2>Total posts - {{ number_of_posts }}</h2>

                    <a href="{{ url_for('routes.add_post')}}">
                        <button type="submit" class="btn btn-success">
                            Add post <i class="fa fa-plus"></i></button>
                    </a>
                    <hr class="invis">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Date posted</th>
                            <th scope="col">Views</th>
                            <th scope="col">Slug</th>
                            <th scope="col">Tags</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in posts %}
                        <tr>
                            <th scope="row">{{ post.id }}</th>
                            <td><a href="{{ url_for('routes.single_post', slug=post.slug)}}" title="{{ post.title }}">
                                {{ post.title }}</a></td>
                            <td>{{ post.date_posted.strftime('%d.%m.%y %H:%M') }}</td>
                            <td>{{ post.num_of_views }}</td>
                            <td>{{ post.slug }}</td>
                            {% if post.tags %}
                            <td>
                                {% for tag in post.tags%}
                                {{ tag.tag_name }},
                                {% endfor %}
                            </td>
                            {% else %}
                            <td>Tags</td>
                            {% endif %}
                            <td><a href="{{ url_for('routes.edit_post', id=post.id)}}">
                                <button type="submit" class="btn btn-warning">
                                    Edit <i class="fa fa-pencil"></i>
                                </button>
                            </a>
                                <a href="{{ url_for('routes.delete_post', id=post.id)}}">
                                    <button type="submit" class="btn btn-danger"
                                            onclick="return confirm('Are you shure to delete?')">
                                        Delete <i class="fa fa-trash-o"></i></button>
                                </a></td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <h2>Tags - {{ number_of_tags }}</h2>

                    <form method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.tag.label(class="form-label") }}
                        {{ form.tag(class="form-control") }}
                        <br/>
                        {{ form.submit(class="btn btn-success") }}
                    </form>

                    <hr class="invis">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tag in tags %}
                        <tr>
                            <th scope="row">{{ tag.id }}</th>
                            <td>{{ tag.tag_name}}</td>
                            <td><a href="{{ url_for('routes.delete_tag', id=tag.id)}}">
                                <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Are you shure to delete?')">
                                    Delete <i class="fa fa-trash-o"></i></button>
                            </a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% endblock %}
                    <hr class="invis">
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
    {% include 'footer.html' %}
</div>

<script src="static/js/jquery.min.js"></script>
<script src="static/js/tether.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/custom.js"></script>

</body>
</html>
