{% extends "base.html" %}

{% block content %}
{{ super() }}

<div class="page-title lb single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fa-envelope-open-o bg-orange"></i> Contact us <small
                        class="hidden-xs-down hidden-sm-down"> Email me if you have any questions about the content of
                    articles or suggestions for
                    improving the content of the site</small>
                </h2>
            </div><!-- end col -->
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('routes.index') }}">Home</a></li>
                    <li class="breadcrumb-item active">Contact</li>
                </ol>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end page-title -->

<section class="section wb">
    {% for msg in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{msg}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <form method="POST">
                                {{ form.hidden_tag() }}
                                {{ form.name.label(class="form-label") }}
                                {{ form.name(class="form-control") }}
                                <br/>
                                {{ form.email.label(class="form-label") }}
                                {{ form.email(class="form-control") }}
                                <br/>
                                {{ form.subject.label(class="form-label") }}
                                {{ form.subject(class="form-control") }}
                                <br/>
                                {{ form.message.label(class="form-label") }}
                                {{ form.message(class="form-control", rows="10") }}
                                <br/>
                                {{ form.submit(class="btn btn-success") }}
                            </form>

                        </div>
                    </div>
                </div><!-- end page-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

{% endblock %}