{% extends "base.html" %}

{% block content %}

<hr class="invis">

<h1>Edit this post</h1>
<br/>
<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
        <br/>
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control", rows="10") }}
        <br/>
        {{ form.slug.label(class="form-label") }}
        {{ form.slug(class="form-control") }}
        <br/>
        {{ form.tags.label(class="form-label") }}
        {{ form.tags(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-success", value="Save") }}
    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content') }}
</div>


{% endblock %}