<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="widget">
                    <div class="footer-text text-left">
                        <h2 class="widget-title">About</h2>
                        <p>Tech Blog is a technology blog, we sharing marketing, news and gadget articles.</p>
                    </div><!-- end footer-text -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <h2 class="widget-title">Popular Categories</h2>
                    <div class="link-widget">
                        <ul>
                            <li><a href="#">Python<span>2</span></a></li>
                            <li><a href="#">SQL<span>1</span></a></li>
                            <li><a href="#">Linux<span>3</span></a></li>
                            <li><a href="#">Interview questions<span>1</span></a></li>
                            <li><a href="#">Django<span>1</span></a></li>
                        </ul>
                    </div><!-- end link-widget -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <h2 class="widget-title">Contacts</h2>
                    <div class="link-widget">
                        <ul>
                            <li><p>mailforsite@gmail.com</p></li>
                        </ul>
                    </div><!-- end link-widget -->
                </div><!-- end widget -->
            </div><!-- end col -->
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <div class="copyright">&copy; Tech Blog. Design: <a href="http://html.design">HTML Design</a>.</div>
            </div>
        </div>
    </div><!-- end container -->
</footer><!-- end footer -->

<div class="dmtop">Scroll to Top</div>