{% cache 60, 'footer' %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="widget">
                    <div class="footer-text text-left">
                        <h2 class="widget-title">About</h2>
                        <p>Welcome to my personal blog for junior developers! I'm Sam, a passionate Python
                            developer sharing knowledge and experience to help new coders navigate the challenges and
                            opportunities of software development. As a junior developer myself, I understand how
                            daunting it can be to learn new technologies, but also how rewarding it is to build
                            something from scratch. Through this blog, I aim to inspire and motivate you to keep
                            learning, and to share my insights and lessons learned. Whether you're just starting out or
                            have been coding for a while, join me on this journey to grow and learn together.</p>
                    </div><!-- end footer-text -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <h2 class="widget-title">Popular Categories</h2>
                    <div class="link-widget">
                        <ul>
                            <li><a href="#">Python<span>2</span></a></li>
                            <li><a href="#">SQL<span>1</span></a></li>
                            <li><a href="#">Linux<span>3</span></a></li>
                            <li><a href="#">Interview questions<span>1</span></a></li>
                            <li><a href="#">Django<span>1</span></a></li>
                        </ul>
                    </div><!-- end link-widget -->
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <h2 class="widget-title">Contacts</h2>
                    <div class="link-widget">
                        <ul>
                            <li><p>mailforsite@gmail.com</p></li>
                        </ul>
                    </div><!-- end link-widget -->
                </div><!-- end widget -->
            </div><!-- end col -->
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <div class="copyright">&copy; Personal Blog. Design: by Me.</div>
            </div>
        </div>
    </div><!-- end container -->
</footer><!-- end footer -->

<div class="dmtop">Scroll to Top</div>
{% endcache %}