{% extends "base.html" %}

{% block content %}
{{ super() }}


<div class="page-wrapper">
    <div class="blog-list clearfix">
        <hr class="invis">
        <h1 align="center">Latest posts</h1>
        <hr class="invis">
        {% for post in posts %}
        <hr class="invis">

        <div class="blog-box row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="{{ url_for('single_post', slug=post.slug)}}" title="">
                        <img src="static/images/coding.jpg" alt="" class="img-fluid">
                        <div class="hovereffect"></div>
                    </a>
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="blog-meta big-meta col-md-8">
                <h4><a href="{{ url_for('single_post', slug=post.slug)}}" title="{{ post.title }}">{{ post.title }}</a>
                </h4>
                <p>{{ post.content|truncate(150, True)|safe }}</p>

                <small class="firstsmall">
                    {% for tag in post.tags %}
                    <a class="bg-orange" href="#" title="">{{ tag.tag_name }}</a>
                    {% endfor %}
                </small>

                <small>{{ post.date_posted.strftime('%d %B %Y, %H:%M') }}</small>
                <small>by Admin</small>
                <small><i class="fa fa-eye"></i>{{ post.num_of_views }}</small>

            </div><!-- end meta -->
        </div><!-- end blog-box -->

        {% endfor %}
        <hr class="invis">

    </div><!-- end blog-list -->
</div><!-- end page-wrapper -->

{% endblock %}