{% extends "base.html" %}

{% block content %}
{{ super() }}
<h1 align="center">All Posts</h1>

<hr class="invis">

{% for post in pages.items %}
<div class="blog-box row">
    <div class="col-md-4">
        <div class="post-media">
            <a href="{{ url_for('single_post', slug=post.slug)}}" title="">
                <img src="static/images/coding.jpg" alt="" class="img-fluid">
                <div class="hovereffect"></div>
            </a>
        </div><!-- end media -->
    </div><!-- end col -->

    <div class="blog-meta big-meta col-md-8">
        <h4><a href="{{ url_for('single_post', slug=post.slug)}}" title="{{ post.title }}">{{ post.title }}</a>
        </h4>
        <p>{{ post.content|truncate(150, True)|safe }}</p>
        <small class="firstsmall">
            <a class="bg-orange" href="#" title="">Tags here</a>
        </small>
        <small>{{ post.date_posted.strftime('%d %B %Y, %H:%M') }}</small>
        <small>by Admin</small>
        <small><i class="fa fa-eye"></i>{{ post.num_of_views }}</small>
    </div><!-- end meta -->
</div><!-- end blog-box -->

<hr class="invis">

{% endfor %}

<!-- pagination -->
<div class="row">
    <div class="col-md-12">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-start">
                {% if pages.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="posts?page={{ pages.prev_num }}">Previous</a>
                </li>
                {% endif %}

                {% for page in pages.iter_pages() %}
                <li class="page-item"><a class="page-link" href="posts?page={{ page }}">{{ page }}</a></li>
                {% endfor %}

                {% if pages.has_next %}
                <li class="page-item">
                    <a class="page-link" href="posts?page={{ pages.next_num }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div><!-- end col -->
</div><!-- end row -->

{% endblock %}