{% cache 60 %}
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="sidebar">
        {% set sidebar_data = g.sidebar_data %}

        <hr class="invis">

        <div class="widget">
            <h2 class="widget-title">Tags</h2>
            <div class="blog-list-widget">
                <div class="list-group list-group-item list-group-item-action flex-column align-items-start">
                    <!-- Tags Start -->
                    <!-- https://www.free-css.com/free-css-templates/page281/biznews -->
                    <div class="d-flex flex-wrap m-n1">
                        {% for tag in sidebar_data[1] %}
                        <a href="{{ url_for('routes.posts_by_tag', tag=tag.tag_name) }}" class="btn btn-sm btn-outline-secondary m-1">{{ tag.tag_name }}</a>
                        {% endfor %}
                    </div>
                    <!-- Tags End -->
                </div>
            </div><!-- end blog-list -->
        </div><!-- end widget -->

        <div class="widget">
            <h2 class="widget-title">Popular Posts</h2>
            <div class="blog-list-widget">
                <div class="list-group">
                    {% for popular in sidebar_data[0] %}
                    <a href="{{ url_for('routes.single_post', slug=popular.slug)}}"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="w-100 justify-content-between">
<!--                            <img src="static/upload/tech_blog_08.jpg" alt="" class="img-fluid float-left">-->
                            <h5 class="mb-1">{{ popular.title }}</h5>
                            <small>{{ convert(popular.date_posted) }}</small>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div><!-- end blog-list -->
        </div><!-- end widget -->

        <div class="widget">
            <h2 class="widget-title">Recent Reviews</h2>
            <div class="blog-list-widget">
                <div class="list-group">
                    <a href="tech-single.html"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="w-100 justify-content-between">
<!--                            <img src="static/upload/tech_blog_02.jpg" alt="" class="img-fluid float-left">-->
                            <h5 class="mb-1">Banana-chip chocolate cake recipe..</h5>
                            <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                        </div>
                    </a>

                    <a href="tech-single.html"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="w-100 justify-content-between">
<!--                            <img src="static/upload/tech_blog_03.jpg" alt="" class="img-fluid float-left">-->
                            <h5 class="mb-1">10 practical ways to choose organic..</h5>
                            <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                        </div>
                    </a>

                    <a href="tech-single.html"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="w-100 last-item justify-content-between">
<!--                            <img src="static/upload/tech_blog_07.jpg" alt="" class="img-fluid float-left">-->
                            <h5 class="mb-1">We are making homemade ravioli..</h5>
                            <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                        </div>
                    </a>
                </div>
            </div><!-- end blog-list -->
        </div><!-- end widget -->

    </div><!-- end sidebar -->
</div><!-- end col -->
{% endcache %}