{% extends "base.html" %}

{% block content %}
{{ super() }}
{{ ckeditor.load_code_theme() }}
<div class="page-wrapper">
    <div class="blog-title-area text-center">
        <ol class="breadcrumb hidden-xs-down">
            <li class="breadcrumb-item"><a href="{{ url_for('routes.index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('routes.get_posts') }}">Blog</a></li>
            <li class="breadcrumb-item active">{{ post.title }}
            </li>
        </ol>

        <h3>{{ post.title }}</h3>

        <span class="color-orange">
            {% for tag in post.tags %}
            <a class="bg-orange"
               href="{{ url_for('routes.posts_by_tag', tag=tag.tag_name) }}" title="">
                {{ tag.tag_name }}</a>
            {% endfor %}
        </span>

        <div class="blog-meta big-meta">
            <small>{{ post.date_posted.strftime('%d %B %Y, %H:%M') }}</small>
            <small>by Admin</small>
            <small><i class="fa fa-eye"></i>{{ post.num_of_views }}</small>
        </div><!-- end meta -->

    </div><!-- end title -->

    <div class="blog-content">
        <div class="pp">
            <p>{{ post.content|safe }}</p>

        </div><!-- end pp -->

    </div><!-- end content -->

    <hr class="invis1">
    {% if prev_post and next_post %}
    <div class="custombox clearfix">
        <div class="row">
            <div class="col-lg-6">
                <div class="blog-box">
                    <div class="post-media">
                        <a href="{{ url_for('routes.single_post', slug=prev_post.slug)}}" title="">
<!--                            <img src="upload/tech_menu_04.jpg" alt="" class="img-fluid">-->
                            <div class="hovereffect">
                                <span class=""></span>
                            </div><!-- end hover -->
                        </a>
                    </div><!-- end media -->
                    <div class="blog-meta">
                        <h4><a href="{{ url_for('routes.single_post', slug=prev_post.slug)}}" title="">
                            {{ prev_post.title}}</a>
                        </h4>
                        <small>prev post</small>
                        <small>{{ prev_post.date_posted.strftime('%d %B %Y, %H:%M') }}</small>
                    </div><!-- end meta -->
                </div><!-- end blog-box -->
            </div><!-- end col -->

            <div class="col-lg-6">
                <div class="blog-box">
                    <div class="post-media">
                        <a href="{{ url_for('routes.single_post', slug=next_post.slug)}}" title="">
<!--                            <img src="upload/tech_menu_06.jpg" alt="" class="img-fluid">-->
                            <div class="hovereffect">
                                <span class=""></span>
                            </div><!-- end hover -->
                        </a>
                    </div><!-- end media -->
                    <div class="blog-meta">
                        <h4><a href="{{ url_for('routes.single_post', slug=next_post.slug)}}" title="">
                            {{ next_post.title }}</a></h4>
                        <small>next post</small>
                        <small>{{ next_post.date_posted.strftime('%d %B %Y, %H:%M') }}</small>
                    </div><!-- end meta -->
                </div><!-- end blog-box -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end custom-box -->
    {% endif %}
    <hr class="invis1">

    <div class="custombox clearfix">
        <h4 class="small-title">You may also like</h4>
        <div class="row">
            <div class="col-lg-6">
                <div class="blog-box">
                    <div class="post-media">
                        <a href="#" title="">
<!--                            <img src="upload/tech_menu_04.jpg" alt="" class="img-fluid">-->
                            <div class="hovereffect">
                                <span class=""></span>
                            </div><!-- end hover -->
                        </a>
                    </div><!-- end media -->
                    <div class="blog-meta">
                        <h4><a href="#" title="">We are guests of ABC Design Studio</a>
                        </h4>
                        <small><a href="#" title="">Trends</a></small>
                        <small><a href="#" title="">21 July, 2017</a></small>
                    </div><!-- end meta -->
                </div><!-- end blog-box -->
            </div><!-- end col -->

            <div class="col-lg-6">
                <div class="blog-box">
                    <div class="post-media">
                        <a href="#" title="">
                            <!-- <img src="upload/tech_menu_06.jpg" alt="" class="img-fluid"> -->
                            <div class="hovereffect">
                                <span class=""></span>
                            </div><!-- end hover -->
                        </a>
                    </div><!-- end media -->
                    <div class="blog-meta">
                        <h4><a href="#" title="">Nostalgia at work with family</a></h4>
                        <small><a href="#" title="">News</a></small>
                        <small><a href="#" title="">20 July, 2017</a></small>
                    </div><!-- end meta -->
                </div><!-- end blog-box -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end custom-box -->

    <hr class="invis1">

    <div class="custombox clearfix">
        <h4 class="small-title">Leave a Reply</h4>
        <div class="row">
            <div class="col-lg-12">
                <form class="form-wrapper">
                    <input type="text" class="form-control" placeholder="Your name">
                    <input type="text" class="form-control" placeholder="Email address">
                    <input type="text" class="form-control" placeholder="Website">
                    <textarea class="form-control" placeholder="Your comment"></textarea>
                    <button type="submit" class="btn btn-primary">Submit Comment</button>
                </form>
            </div>
        </div>
    </div>
</div><!-- end page-wrapper -->

{% endblock %}